.themeButton {
    margin: 10px 0px -1px 40px;
    padding: 5px 20px;
    border: 0px;
    border-top: solid 1px #5a5454;
    border-radius: 25px 25px 2px 2px;
    color: #000000;
    background-color: #5fc76e17;
    box-shadow: inset 1px -7px 11px -9px #80db90
}

.themeButton:active {
    border-top-color: #cfcfcf66;
    box-shadow: inset 5px -5px 6px -5px rgb(28, 53, 28);
}

.themeButton:hover {
    cursor: pointer;
    box-shadow: -3px 3px 7px -1px rgb(45, 104, 45);
}

.themeButton--dark {
    color: #f5f5f5;
    border-top: solid 2px #f5f5f5;
    background-color: #333c34;
}

.themeButton--dark:hover {
    box-shadow: -3px 3px 7px -1px #bddabd;
}